@import 'bootstrap/scss/bootstrap';

$width: 400px;
$height: $width * 1.4;
$border: 3px solid #000;
$border-radius: 20px;

%card-styles {
    width: $width;
    height: $height;
    border: $border;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    overflow: hidden; 
}

// --------------- Cards ----------------//
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}
.card-1 {
    @extend %card-styles;
    background-color: lightblue;
    //background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20height%3D%22200px%22%20width%3D%22200px%22%20fill%3D%22%23000000%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20x%3D%225%22%20y%3D%225%22%20fill%3D%22none%22%20width%3D%2290%22%20height%3D%2290%22%2F%3E%3Cpath%20d%3D%22M42.487%2C35.444C38.483%2C31.448%2C38.46%2C7.448%2C38.46%2C7.448s0.023%2C24-3.973%2C28.004c-3.997%2C4.004-15.997%2C4.015-15.997%2C4.015%20%20s12-0.011%2C16.004%2C3.985s4.027%2C27.996%2C4.027%2C27.996s-0.023-24%2C3.973-28.004s15.996-4.015%2C15.996-4.015S46.49%2C39.44%2C42.487%2C35.444z%22%2F%3E%3Cpath%20d%3D%22M70.926%2C56.917c-2.502-2.497-2.517-17.498-2.517-17.498s0.015%2C15-2.483%2C17.502c-2.497%2C2.503-9.997%2C2.51-9.997%2C2.51%20%20s7.5-0.007%2C10.002%2C2.49c2.503%2C2.498%2C2.517%2C17.498%2C2.517%2C17.498s-0.014-15%2C2.483-17.503c2.498-2.502%2C9.998-2.51%2C9.998-2.51%20%20S73.429%2C59.415%2C70.926%2C56.917z%22%2F%3E%3Cpath%20d%3D%22M52.527%2C77.935c-1.502-1.498-1.51-10.498-1.51-10.498s0.008%2C9-1.49%2C10.501c-1.499%2C1.502-5.999%2C1.506-5.999%2C1.506%20%20s4.5-0.004%2C6.001%2C1.494c1.501%2C1.499%2C1.51%2C10.499%2C1.51%2C10.499s-0.009-9%2C1.49-10.502c1.498-1.501%2C5.998-1.506%2C5.998-1.506%20%20S54.028%2C79.434%2C52.527%2C77.935z%22%2F%3E%3C%2Fsvg%3E);
}
.card-2 {
    @extend %card-styles;
    background-image: linear-gradient(#ac80a0, #f89762);
    //background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20height%3D%22195px%22%20width%3D%22195px%22%20fill%3D%22%23000000%22%20version%3D%221.1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20100%20100%22%20enable-background%3D%22new%200%200%20100%20100%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20x%3D%225%22%20y%3D%225%22%20fill%3D%22none%22%20width%3D%2290%22%20height%3D%2290%22%2F%3E%3Cpath%20d%3D%22M42.487%2C35.444C38.483%2C31.448%2C38.46%2C7.448%2C38.46%2C7.448s0.023%2C24-3.973%2C28.004c-3.997%2C4.004-15.997%2C4.015-15.997%2C4.015%20%20s12-0.011%2C16.004%2C3.985s4.027%2C27.996%2C4.027%2C27.996s-0.023-24%2C3.973-28.004s15.996-4.015%2C15.996-4.015S46.49%2C39.44%2C42.487%2C35.444z%22%2F%3E%3Cpath%20d%3D%22M70.926%2C56.917c-2.502-2.497-2.517-17.498-2.517-17.498s0.015%2C15-2.483%2C17.502c-2.497%2C2.503-9.997%2C2.51-9.997%2C2.51%20%20s7.5-0.007%2C10.002%2C2.49c2.503%2C2.498%2C2.517%2C17.498%2C2.517%2C17.498s-0.014-15%2C2.483-17.503c2.498-2.502%2C9.998-2.51%2C9.998-2.51%20%20S73.429%2C59.415%2C70.926%2C56.917z%22%2F%3E%3Cpath%20d%3D%22M52.527%2C77.935c-1.502-1.498-1.51-10.498-1.51-10.498s0.008%2C9-1.49%2C10.501c-1.499%2C1.502-5.999%2C1.506-5.999%2C1.506%20%20s4.5-0.004%2C6.001%2C1.494c1.501%2C1.499%2C1.51%2C10.499%2C1.51%2C10.499s-0.009-9%2C1.49-10.502c1.498-1.501%2C5.998-1.506%2C5.998-1.506%20%20S54.028%2C79.434%2C52.527%2C77.935z%22%2F%3E%3C%2Fsvg%3E);
}